:root {
    --sky-blue: #EAF6FF;
    --card-white: #FFFFFF;
    --shadow-soft: rgba(0, 0, 0, 0.15);
    --text-dark: #3A3A3A;
    --accent: #b5932e;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, sans-serif;
}

/* APP */
#app {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-color: var(--sky-blue);
    background-image: url("assets/images/background.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* TITLE */
.title {
    position: absolute;
    top: 24px;
    width: 100%;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 800;
    color: var(--accent);
    pointer-events: none;
}

/* CHARACTERS */
.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    padding: 32px;
    width: 100%;
    max-width: 520px;
}

.characters img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.25s ease, opacity 0.25s ease;

    touch-action: manipulation;
  
}

/* GAME STATES */
.fade {
    opacity: 0.3;
}

.reveal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    z-index: 10;
}

/* BUTTON */
.controls {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.play-button {
    min-width: 240px;
    height: 96px;
    border-radius: 48px;
    border: none;

    background: linear-gradient(180deg, #FFD966, #FFB703);
    color: var(--text-dark);

    font-size: 2.2rem;
    font-weight: 800;

    box-shadow: 0 10px 0 #E09F00;
    cursor: pointer;
}

.play-button:active {
    transform: translateY(6px);
    box-shadow: 0 4px 0 #E09F00;
}

/* ANIMATION */
.jump {
    animation: jump 0.45s ease-out;
}

@keyframes jump {
    0% {
        transform: translate(-50%, -50%) scale(1.3);
    }

    50% {
        transform: translate(-50%, calc(-50% - 40px)) scale(1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.3);
    }
}