body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#character {
    width: 200px;
    cursor: pointer;
}